@use '../../assets/variables' as v;

.app-sidebar {
  display: block;
  flex: 0 0 auto;
  position: relative;
  outline: none;
  width: 240px;
  height: 100vh;
  background-color: v.$app-sidebar-background-color;
  color: v.$app-sidebar-text-color;
  border-right: 1px solid v.$app-sidebar-border-right-color;
  overflow: hidden;

  &-btn-container {
    flex: 1;
    display: block;
    position: relative;
    padding-bottom: 1rem;
  }

  .app-sidebar-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    font-size: 1.025rem;
    font-weight: 600;
    letter-spacing: .25px;
    line-height: inherit;
    padding: 0.6rem 1rem;
    width: 100%;
    border: 0;

    &.selected {
      background: v.$app-sidebar-selected-button-background-color;

      .app-sidebar-icon {
        stroke: v.$app-sidebar-selected-button-icon-stroke-color;
      }
    }

    &:hover {
      background: v.$app-sidebar-hover-button-background-color;
      color: v.$app-sidebar-hover-button-text-color;

      & .app-sidebar-icon {
        stroke: v.$app-sidebar-hover-button-icon-stroke-color;
      }

      &.selected .app-sidebar-icon {
        stroke: v.$app-sidebar-hover-selected-button-icon-stroke-color;
      }
    }
  }

  &-icon {
    margin-right: .75rem;
  }
}