@use '../../assets/variables' as v;

.note-sidebar-container {
  flex: 0 0 auto;
  box-sizing: border-box;
  background: v.$note-sidebar-light-background-color;
  border-right: 1px solid v.$note-sidebar-light-border-right-color;

  &.dark-mode {
    background: v.$note-sidebar-dark-background-color;
    border-right: 1px solid v.$note-sidebar-dark-border-right-color;
  }
}

.note-sidebar {
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}