.category-list-item,
.category-list-item-active {
  cursor: pointer;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px dashed transparent;

  &-name {
    display: flex;
    align-items: center;
  }

  &-active {
    background-color: #202020;
    color: #FFF;

    .category-list-item-name .app-sidebar-icon {
      stroke: #5183f5;
    }
  }

  &:hover {
    background: #3A3A3A;
    color: #FFF;

    & .app-sidebar-context-icon {
      visibility: visible;
    }
  }

  .category-options-container {
    color: #7A7A7A;
    visibility: hidden;
  }
}