@use '../../../assets/variables' as v;

.category-list-item,
.category-list-item-active {
  cursor: pointer;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px dashed transparent;

  .category-name {
    display: flex;
    align-items: center;
    font-size: .85rem;
  }

  &-active {
    background-color: v.$app-sidebar-active-category-item-background-color;
    color: v.$app-sidebar-active-category-item-color;

    .category-name .app-sidebar-icon {
      stroke: v.$app-sidebar-active-category-item-icon-stroke-color;
    }
  }

  &:hover {
    background: v.$app-sidebar-hover-category-item-background-color;
    color: v.$app-sidebar-hover-category-item-color;

    & .app-sidebar-context-icon {
      visibility: visible;
    }
  }

  .app-sidebar-context-icon {
    color: v.$app-sidebar-category-item-context-icon-color;
    visibility: hidden;
  }
}