.cm-content {
  flex-shrink: 2 !important;
  white-space: pre-wrap !important;
}

.ͼ3a {
  height: calc(100vh - 2.5rem) !important;
}

.editor-extended .ͼ1 .cm-content[contenteditable=true] {
  margin-bottom: 90vh;
}

.ͼ1 .cm-content[contenteditable=true] {
  // direction: rtl;
}