// APP-SIDEBAR
$app-sidebar-dark-bg: #1F1F1F;
$app-sidebar-light-bg: #2D2D2D;
$app-sidebar-icon-color: #FFFFFF40;
$app-sidebar-icon-active-color: #5183F5;
$app-sidebar-categories-collapse-btn-color: #909090;
$app-sidebar-categories-heading-color: #FFFFFF40;
$app-sidebar-link-color: #D0D0D0;

// NOTE-SIDEBAR
// $note-sidebar-dark-bg: #;
// $note-sidebar-light-bg: #;
// $note-sidebar-light-border-color: #;
// $note-sidebar-dark-border-color: #;
// $note-sidebar-dark-input-bg: #;
// $note-sidebar-light-input-bg: #;
// $note-sidebar-dark-input-text-color: #;
// $note-sidebar-light-input-text-color: #;

// CODEMIRROR
$codemirror-dark-bg: #333;
$codemirror-dark-text-color: #B3B9C5;
$codemirror-dark-line-number-color: #4F4F4F;
$codemirror-light-bg: #F5F5F5;
$codemirror-light-text-color: #202020;
$codemirror-light-line-number-color: #B0B0B0;

// NOTE-MENU-BAR
$menu-dark-bg: #242424;
$menu-dark-additional-color: #FFFFFF66;
$menu-dark-btn-color: #ffffff80;
$menu-light-bg: #E5E5E5;
$menu-light-additional-color: #404040;
$menu-light-btn-color: #666666;