@use '../../assets/variables' as v;

.last-synced {
  margin: 0 .4rem;
  display: flex;
  align-items: center;
  margin-bottom: .1rem;

  span {
    font-size: .7rem;
  }

  &.dark-mode {
    color: v.$last-synced-dark-text-color;
  }
}