.note-sidebar-header {
  padding: 0 0.5rem;
  background: #e5e5e5;
  border-bottom: 1px solid #ccc;

  input {
    border-radius: .3rem;
    outline: 0;
    height: 35px;
    margin: .5rem 0;
    padding: 0.5rem;

    border: 1px solid #D0D0D0;

    &:focus {
      border: 1px solid #99b7f9;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
    }
  }
}