.resizer {
  cursor: col-resize;
  width: 8px;
  margin: 0 -4px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  background: #000;
  opacity: .2;
  background-clip: padding-box;

  &:hover {
    border-left: 5px solid rgba(0, 0, 0, .5);
    border-right: 5px solid rgba(0, 0, 0, .5);
    transition: all 2s ease;
  }
}