@use '../../assets/variables' as v;

.note-menu-bar {
  position: sticky;
  bottom: 0;
  right: 0;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  background-color: v.$note-menu-bar-light-background-color;
  color: v.$note-menu-bar-light-text-color;
  border-top: 1px solid v.$note-menu-bar-light-border-color;

  nav {
    display: flex;
    align-items: center;

    .note-menu-bar-button {
      cursor: pointer;
      padding: 0 0.75rem;
      height: 39px;
      background-color: v.$note-menu-bar-button-light-background-color;
      border: none;

      &:hover {
        background: v.$note-menu-bar-hover-button-light-background-color;
      }

      &:hover .note-menu-bar-icon {
        stroke: v.$note-menu-bar-hover-icon-light-stroke-color;
      }

      &:hover .trash {
        stroke: #E91A1F;
      }

      .note-menu-bar-icon {
        stroke: v.$note-menu-bar-icon-light-stroke-color;
      }

      .note-menu-bar-icon-favorited {
        stroke: #5183f5;
      }
    }
  }

  &.dark-mode {
    background-color: v.$note-menu-bar-dark-background-color;
    border-top: 1px solid v.$note-menu-bar-dark-border-color;

    .note-menu-bar-button {
      background-color: v.$note-menu-bar-button-dark-background-color;

      &:hover {
        background: v.$note-menu-bar-hover-button-dark-background-color;
      }

      &:hover .note-menu-bar-icon {
        stroke: v.$note-menu-bar-hover-icon-dark-stroke-color;
      }

      &:hover .trash {
        stroke: #E91A1F;
      }

      .note-menu-bar-icon {
        stroke: v.$note-menu-bar-icon-dark-stroke-color;
      }
    }
  }
}