.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;

  .configs-modal {
    z-index: 100;
    background: white;
    position: relative;
    margin: 1.75rem auto;
    border-radius: 3px;
    max-width: 850px;

    .configs-content {
      overflow-y: scroll;
      max-height: 75vh;
      display: flex;
      padding: 1rem;

      &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        background: 0 0;
      }

      &::-webkit-scrollbar-corner {
        width: 8px;
        height: 8px;
        background: 0 0;
      }

      &::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 0;
      }

      &::selection {
        background: #5183f5;
        color: #fff;
      }
    }

    .tab-content {
      flex: 1;
      height: 100%;
      margin: .5rem 1rem;

      h3 {
        font-size: 1.3rem;
        font-weight: bold;
        margin: .5rem 0;
      }

      p {
        font-size: .95rem;
        color: #545454;
        line-height: 1.4;
      }

      .icon-button {
        cursor: pointer;
        display: flex;
        align-items: center;
        border: 2px solid #5183F5;
        border-radius: 0.3rem;
        background: #5183F5;
        color: #FFF;
        font-weight: 600;
        line-height: 1;
        padding: .5rem .75rem;
        margin: .5rem 0;

        &:hover {
          border: 2px solid #3972F4;
          background: #3972f4;
        }
      }
    }
  }
}