@use '../../assets/variables' as v;

.app-sidebar {
  &-wrapper {
    background-color: transparent;
    border: 0;
    width: 100%;
    font-family: inherit;
    line-height: inherit;
    color: inherit;

    &.selected {
      background: #202020;

      .app-sidebar-link {
        color: #FFF;

        .app-sidebar-icon {
          stroke: #5183F5;
        }

        &:hover {
          background: #202020;

          & .app-sidebar-icon {
            stroke: #5183F5;
          }
        }
      }
    }
  }

  &-link {
    &:hover {
      background: #3A3A3A;
      color: #FFF;

      & .app-sidebar-icon {
        stroke: #B7B7B7;
      }
    }
  }

}

.new-note-button {
  cursor: pointer;
  display: flex;
  font-weight: bold;
  padding: 1rem;
  margin: 0.5rem 0;
  border: none;
  width: 100%;

  background-color: v.$app-sidebar-light-bg;
  color: v.$app-sidebar-link-color;

  &.dark {
    background-color: v.$app-sidebar-dark-bg;
  }

  &-icon {
    margin-right: .75rem;
    stroke: #FFFFFF;
    background-color: v.$app-sidebar-icon-active-color;
    border-radius: .3rem;
  }

  &:hover {
    background: v.$app-sidebar-icon-active-color;
  }
}