@use '../../assets/variables' as v;

.new-note-button {
  cursor: pointer;
  display: flex;
  font-weight: bold;
  padding: 1rem;
  margin: 0.5rem 0;
  border: none;
  width: 100%;
  background-color: transparent;
  color: v.$app-sidebar-new-note-button-text-color;

  &-icon {
    stroke: v.$app-sidebar-new-note-button-icon-stroke-color;
    background-color: v.$app-sidebar-new-note-button-hover-background-color;
    margin-right: .75rem;
    border-radius: .3rem;
  }

  &:hover {
    background: v.$app-sidebar-new-note-button-hover-background-color;
  }
}