.configs-modal-header {
  position: sticky;
  top: 0;
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E5E5E5;
  padding: 1rem 2rem;

  .profile-details {
    display: flex;
    align-items: center;

    h1 {
      font-size: 1.2rem;
      border-bottom: 3px solid transparent;
    }

    .btn-primary {
      cursor: pointer;
      background-color: #5183F5;
      border: 2px solid #5183F5;
      color: #FFF;
      padding: .5rem .8rem;
      margin-left: 1rem;
      outline: none;
      border-radius: 5px;
      font-weight: bold;
      font-size: 1rem;

      &:hover {
        border: 2px solid #3972f4;
        background-color: #3972f4;
        text-decoration: none;
      }
    }
  }

  .modal-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    line-height: 1;
    color: #000;
    background-color: #FFF;
    padding: .6rem;
    cursor: pointer;
    border: none;
    border-radius: 6px;

    &:hover {
      background-color: #EDEDED;
    }
  }
}