@use '../../../assets/variables' as v;

.configs-modal-header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: v.$configs-modal-header-light-background-color;
  border-bottom: 1px solid v.$configs-modal-header-light-border-color;

  .profile-details {
    display: flex;
    align-items: center;

    h1 {
      font-size: 1.2rem;
      border-bottom: 3px solid transparent;
    }

    .btn-primary {
      cursor: pointer;
      background-color: #5183F5;
      border: 2px solid #5183F5;
      color: #FFF;
      padding: .5rem .8rem;
      margin-left: 1rem;
      outline: none;
      border-radius: 5px;
      font-weight: bold;
      font-size: 1rem;

      &:hover {
        border: 2px solid #3972f4;
        background-color: #3972f4;
        text-decoration: none;
      }
    }
  }

  .modal-close-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    line-height: 1;
    background-color: v.$configs-modal-header-close-btn-light-background-color;
    color: v.$configs-modal-header-close-btn-light-text-color;
    padding: .6rem;
    border: none;
    border-radius: 6px;

    &:hover {
      background-color: v.$configs-modal-header-hover-close-btn-light-background-color;
    }
  }

  &.dark-mode {
    background-color: v.$configs-modal-header-dark-background-color;
    border-bottom: 1px solid v.$configs-modal-header-dark-border-color;

    .profile-details {
      h1 {
        color: v.$configs-modal-header-dark-heading-color;
      }
    }

    .modal-close-btn {
      background-color: v.$configs-modal-header-close-btn-dark-background-color;
      color: v.$configs-modal-header-close-btn-dark-text-color;

      &:hover {
        background-color: v.$configs-modal-header-hover-close-btn-dark-background-color;
      }
    }
  }
}