.category-tooltip {
  cursor: pointer;
  position: fixed;
  font-size: .9rem;
  border: 1px solid #1F1F1F;
  border-radius: 4px;
  min-width: 230px;
  padding: 0.25rem 0;
  background: #2D2D2D;
  color: #D0D0D0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2), 0 5px 5px rgba(0, 0, 0, .25);

  &-btn {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;

    &:hover {
      color: #fff;
      background: #414141;
    }

    &.trash:hover {
      background: #ee484c;
      color: #FFF;
    }

    .options-context-icon {
      margin-right: 1rem;
    }
  }
}