@use '../../../assets/variables' as v;

.note-list-item {
  cursor: pointer;
  padding: 0.5rem;
  font-weight: 500;
  font-size: .85rem;
  line-height: 1.3;
  color: v.$note-sidebar-note-list-item-light-text-color;
  border-bottom: 1px solid v.$note-sidebar-note-list-item-light-border-bottom-color;

  &:hover {
    background-color: v.$note-sidebar-note-list-item-light-hover-background-color;
  }

  &.selected {
    background: #5183f5;
    color: #fff;
    border-bottom: 1px solid #3972f4;

    & .note-category {
      color: #FFFFFF99;

      & .note-sidebar-icon {
        stroke: #FFFFFF99;
      }
    }

    & .note-list-outer .note-title .icon .note-sidebar-favorites-icon {
      stroke: #FFF;
    }
  }

  &.dark-mode {
    color: v.$note-sidebar-note-list-item-dark-text-color;
    border-bottom: 1px solid v.$note-sidebar-note-list-item-dark-border-bottom-color;

    &:hover {
      background-color: v.$note-sidebar-note-list-item-dark-hover-background-color;

      .note-list-outer .note-options-button .note-sidebar-icon {
        stroke: v.$note-sidebar-note-list-item-note-category-hover-icon-dark-stroke-color;
      }
    }
  }

  .note-list-outer {
    display: flex;
    align-items: center;
    width: 100%;

    .note-title {
      display: flex;
      align-items: center;
      width: 100%;
      font-weight: 500;

      .icon {
        display: flex;
        flex: 0 0 25px;

        & .note-sidebar-favorites-icon {
          color: rgba(255, 255, 255, .7);
          stroke: #5183f5;
          margin: .5rem;
        }
      }
    }
  }

  // Context-options
  &:hover .note-list-outer .note-options-button .note-sidebar-icon {
    stroke: v.$note-sidebar-note-list-item-note-category-hover-icon-light-stroke-color;
  }

  &:hover .note-list-outer .note-options-button .note-sidebar-icon-active {
    stroke: #FFF;
  }

  .note-category {
    display: flex;
    align-items: center;
    font-size: .8rem;
    color: v.$note-sidebar-note-list-item-note-category-light-text-color;
    margin-left: 30px;

    .note-sidebar-icon {
      stroke: v.$note-sidebar-note-list-item-note-category-light-stroke-color;
      margin-right: .5rem;
    }
  }

  &.dark-mode .note-category {
    color: v.$note-sidebar-note-list-item-note-category-dark-text-color;

    .note-sidebar-icon {
      stroke: v.$note-sidebar-note-list-item-note-category-dark-stroke-color;
    }
  }
}