@use '../../assets/variables' as v;

.empty-note {
  background-color: v.$empty-note-light-background-color;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem 0;

  .settings-shortcut {
    display: flex;
    flex-direction: column;

    h1 {
      margin-bottom: 1rem;
      color: v.$empty-note-light-heading-color;
    }

    .keys {
      display: flex;

      kbd {
        display: inline-block;
        background-color: v.$empty-note-light-kbd-background-color;
        color: v.$empty-note-light-kbd-text-color;
        border: 1px solid v.$empty-note-light-kbd-border-color;
        border-radius: 3px;
        box-shadow: v.$empty-note-light-kbd-box-shadow;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 12px;
        line-height: 1.4;
        text-shadow: 0 1px 0 v.$empty-note-light-kbd-text-shadow;
        margin: 0 .3rem;
        padding: 0.1rem .6rem;
      }
    }
  }

  &.dark-mode {
    background-color: v.$empty-note-dark-background-color;

    .settings-shortcut {
      h1 {
        color: v.$empty-note-dark-heading-color;
      }

      .keys kbd {
        background-color: v.$empty-note-dark-kbd-background-color;
        color: v.$empty-note-dark-kbd-text-color;
        border: 1px solid v.$empty-note-dark-kbd-border-color;
        box-shadow: v.$empty-note-dark-kbd-box-shadow;
        text-shadow: 0 1px 0 v.$empty-note-dark-kbd-text-shadow;
      }
    }
  }
}