@use '../../../../../assets/variables' as v;


.move-to-category-select {
  border-radius: 4px;
  font-size: .9rem;
  padding: .5rem;
  width: 220px;
  margin-left: .5rem;
  margin-right: .5rem;
  margin-top: .25rem;
  margin-bottom: .5rem;
  border: 1px solid v.$note-sidebar-note-list-item-move-to-category-select-light-border-color;
  outline: 0;

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
  }

  &.dark-mode {
    background-color: v.$note-sidebar-note-list-item-move-to-category-select-dark-background-color;
    color: v.$note-sidebar-note-list-item-move-to-category-select-dark-text-color;
    border: 1px solid v.$note-sidebar-note-list-item-move-to-category-select-dark-border-color;
  }
}