@use '../../assets/variables' as v;

.category-form-add,
.category-form-rename {
  input {
    background-color: v.$app-sidebar-category-form-input-background-color;
    color: v.$app-sidebar-category-form-input-color;
    font-size: .9rem;
    line-height: 1;
    border: 0;
    border-radius: 0px;
    outline: none;

    &:focus {
      box-shadow: 0 0 0 0.2rem v.$app-sidebar-focus-category-form-input-box-shadow-color;
    }
  }
}

.category-form {
  &-add input {
    margin: .5rem .5rem .5rem 1rem;
    padding: .5rem;
    width: 150px;
  }

  &-rename input {
    margin: .5rem .5rem .5rem 0;
    padding: .1rem;
    max-width: 100px;
  }
}